
<h2 class = "text-center"> Create your own space </h2>

  <div class="container">
    <div class="row">
      <%= simple_form_for @space do |f| %>
      <div class="col-xs-12 col-sm-4">
        <div class="form-inputs">
          <%= f.input :title, required: true %>
          <%= f.input :address, required: true %>
          <%= f.input :price_per_day, required: true %>
          <%= f.input :equipements, required: true, collection: ["Internet","Kitchen", "Projector", "Board", "Furniture"] %>
          <%= f.input :type_of_space, required: true, collection: ["Standing","Parliament", "Banquet", "U-Shape", "Theatre"] %>
          <%= f.input :nb_of_pers, required: true, collection: [1..10,10..20, 20..30, "More than 30",] %>
          <%= f.input :description, required: true %>
          <%= f.input :availability, required: true %>
          <%= f.input :picture %>
        </div>
      <div class="form-actions">
        <%= f.button :submit, "Create the Space" %>
      </div>
    </div>
    </div>
  </div>
<% end %>



