<ul class="bxslider">
  <li class="card-bg"><%= image_tag "https://unsplash.it/600/300?image=3" %></li>
  <li class="card-bg"><%= image_tag "https://unsplash.it/600/300?image=3" %></li>
  <li class="card-bg"><%= image_tag "https://unsplash.it/600/300?image=3" %></li>
</ul>

<div class="container">
  <div class="col-xs-12 col-lg-8">
    <div class="row page-header">
      <h3><%= @space.title %></h3>
    </div>
    <div class="row jumbotron">
      <h1>About this place</h1>
      <p><%= @space.description %></p>
      <p><%= @space.price_per_day %></p>
    </div>
  </div>
</div>


<%= simple_form_for [@space, @space.reservations.new] do |f| %>
  <div class="col-xs-12 col-sm-3">
    <p><%= f.input :start_date, as: :string, input_html: { class: "datepicker", placeholder: "Check-in", value: @checkin } %></p>
  </div>
  <div class="col-xs-12 col-sm-3">
    <p><%= f.input :end_date, as: :string, input_html: {  class: "datepicker", placeholder: "Check-out", value: @checkout } %></p>
  </div>
  <div class="col-xs-12 col-sm-3">
  <%= f.submit "Search", class: "btn btn-primary btn-lg" %>
  </div>
<% end %>
<%= @checkin %>
