<ul class="bxslider">
  <li class="card-bg"><%= image_tag "slider1.jpg" %></li>
  <li class="card-bg slide"><%= image_tag "slider2.jpg" %></li>
  <li class="card-bg slide"><%= image_tag "slider3.jpg" %></li>
</ul>

<div class="container">
  <div class="col-xs-12 col-md-8 ">
    <div class="row page-header">
      <h3><%= @space.title %></h3>
    </div>
    <div class="row jumbotron">
      <h4>About this place</h4>
      <p><%= @space.description %></p>
      <p><%= @space.price_per_day %></p>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">
    <div class="informations margin jumbotron">
      <div class="title page-header">
        <h3>Your informations Ma Gueule</h3>
      </div>
      <%= simple_form_for [@space, @space.reservations.new], url: new_space_reservation_path(@space), method: :get do |f| %>
      <div class="row text-center">
        <p><%= f.input :start_date, as: :string, input_html: { class: "datepicker", placeholder: "Check-in", value: @checkin } %></p>
      </div>
      <div class="row text-center">
        <p><%= f.input :end_date, as: :string, input_html: {  class: "datepicker", placeholder: "Check-out", value: @checkout } %></p>
      </div>
      <div class="row text-center">
      <%= f.submit "Request to Book Bro", class: "btn btn-primary btn-lg" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
