<!-- app/views/reservation/new.html.erb -->
<h1 class="text-center"> New reservation</h1>
 <div class="container">
    <div class="row">
    <%= simple_form_for @space, url: spaces_path, method: :get do |f| %>
      <%= f.simple_fields_for :reservations do |p| %>
        <div class="col-xs-12 col-sm-4">
          <p><%= p.text_field :start_date , class: "datepicker", placeholder: "Check-in" %></p>
          <p><%= p.text_field :end_date,  class: "datepicker", placeholder: "Check-out" %></p>
          <% end %>
      <%= f.input :type_of_space, collection: Space::TYPE_OF_SPACE %>
      <%= f.submit "Book your space", class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
    </div>
  </div>




