<!-- app/views/reservation/new.html.erb -->
<div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 ">

        <h2>Confirm Booking Request</h2>
        <br>
        <div class="card" z-default=10 z-hover=30 >
          <h3> Your Arrival : <%= @checkin %></h3>
        </div>

        <div class="card" z-default=30 z-hover=70>
          <h3> Your Departure : <%= @checkout %></h3>
        </div>

        <div class="card" z-default=30 z-hover=70>
          <h3> Price : <%= @total_price %> €</h3>
        </div>

        <%= link_to 'decline', root_path, class: 'btn btn-danger' %>
        <%= link_to 'accept', current_user, class: 'btn btn-primary' %>

        </div>
      </div>
    </div>
  </div>


















