<!-- app/views/reservation/new.html.erb -->
<div class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 ">

        <h2>Confirm Booking Request</h2>
        <br>
        <div class="card" z-default=10 z-hover=30 >
          <h3> Your Arrival : <%= @checkin %></h3>
        </div>

        <div class="card" z-default=30 z-hover=70>
          <h3> Your Departure : <%= @checkout %></h3>
        </div>

        <div class="card" z-default=30 z-hover=70>
          <h3> Price : <%= @total_price %> €</h3>
        </div>
       <%=simple_form_for [@space, @reservation] do |f| %>
         <%= f.input :start_date, :as => :hidden, :input_html => {:value => @checkin} %>
         <%= f.input :end_date, :as => :hidden, :input_html => {:value => @checkout} %>
         <%= f.input :user_id, :as => :hidden, :input_html => {:value => current_user.id} %>
         <%=  f.submit "accept", class: "btn btn-primary  " %>
          <%= link_to 'decline', root_path, class: 'btn btn-danger' %>
         <% end -%>




        </div>
      </div>
    </div>
  </div>


















